@*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    @model IEnumerable<API_Project.Models.CovidData>
*@
@model API_Project.Controllers.HomeController.ViewModel
@{
    ViewData["Title"] = "Data";
    ViewData["StateSel"] = Context.Request.Query["StateSel"];
    ViewData["Fav"] = Context.Request.Query["Fav"];
}

<div class="container-xl">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-4">
                <h2>Provisional COVID-19 Deaths Counts</h2>
            </div>
            <div class="col-sm">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Select State
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Home/Data/?StateSel=All&Fav=0">All</a></li>
                        @foreach (State state in Model.States)
                        {
                            <li><a class="dropdown-item" href="/Home/Data/?StateSel=@(state.StateName)&Fav=@ViewData["Fav"]">@(state.StateName)</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <a href="/Home/Data/?Fav=1&StateSel=@ViewData["StateSel"]" class="btn btn-info"><span>Show Favorites</span></a>
            </div>
            <div class="col-sm">
                <a href="/Home/Data/?StateSel=All&Fav=0" class="btn btn-success"><span>Show All</span></a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <div class="table-wrapper">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Fips Code</th>
                        <th>County</th>
                        <th>State</th>
                        <th>COVID-19 Deaths</th>
                        <th>Total Deaths</th>
                        <th>Data as of</th>
                        <th>StartWeek</th>
                        <th>EndWeek</th>
                        <th>Fav</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CovidData coviddata in Model.CovidDatas)
                    {
                        <tr>
                            <td>@(coviddata.fips_code)</td>
                            <td>@(coviddata.county)</td>
                            <td>@(coviddata.state)</td>
                            <td>@(coviddata.covid_19_deaths)</td>
                            <td>@(coviddata.total_deaths)</td>
                            <td>@(coviddata.data_as_of)</td>
                            <td>@(coviddata.startweek)</td>
                            <td>@(coviddata.endweek)</td>
                            <td>
                                @if (coviddata.Favorites.Count == 0)
                                {
                                    <div><a href="/Home/Data/?Add=@(coviddata.CovidDataID)&Fav=@ViewData["Fav"]&StateSel=@ViewData["StateSel"]">Add</a></div>
                                }
                                else
                                {
                                    <div><a href="/Home/Data/?Del=@(coviddata.CovidDataID)&Fav=@ViewData["Fav"]&StateSel=@ViewData["StateSel"]">Del</a></div>
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
